@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container ">
<div class="text-center mt-5 ">
    <h1 class="display-1">To-Do List</h1>
    <p class="fs-5">Help keep yourself organized and motivated.</p>
    <a asp-page="" class="btn btn-dark btn-lg mt-2">Create Now</a>
</div>
